{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список заключенных</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <main>
        <h1>Список заключенных:</h1>
        {% for el in imprisoned %}
            <div>
                <a href="{% url 'imprisoned_detail' el.id %}"><span> {{el.last_name}}</span> <span>{{el.name}}</span> <span>{{el.patronymic}}</span></a>
                <p>Статья: {{el.article}}</p>
                <p>Срок: {{el.period}}</p>
            </div>
        {% endfor %}
    </main>

    <div>
        <a href=" {% url 'create' %} "><button>Добавить заключенного</button></a>
    </div>
</body>
</html>